$body-bg: #373737;

$primary: #373737;
$secondary: #ff6700;
$info: #0098FF;

$table-bg: #373737;
$table-color: #FFFFFF;
$table-striped-color: #FFFFFF;
$table-striped-bg: #555555;

$disabled-bg: #555555;

@import '../bootstrap-5.1.3/scss/bootstrap';